<!DOCTYPE html>
	<html lang="pt-br">
		<head>
			<meta charset="utf-8"/>
			<title>Formulário de Inclusão de Estudantes</title>
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
            <link rel="stylesheet" type="text/css" href="/public/assets/styles.css" />
		</head>
	<body>
		<form action="estudante/salvar" method="post">
			<div class="container jumbotron custom-jumbo">
				<h1 class="display-4">Cadastrar Estudante</h1>
				<hr class="my-4">

				<div class="form-group">
					<label for="conteudo">Nome:</label>
					<input class="form-control" type="text" name="nome" placeholder="Digite o nome do estudante">
				</div>

				<div class="form-group">
					<label for="conteudo">Nota:</label>
					<input class="form-control" type="text" name="nota" placeholder="Digite a nota do estudante">
				</div>
	
				<input type="submit" class="btn btn-primary btn-lg" value="Enviar">
			</div>
		</form>

	</body>
</html>