<!DOCTYPE html>
	<html lang="pt-br">
		<head>
			<meta charset="utf-8"/>
			<title>Formulário de Inclusão de Estudantes</title>
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
            <link rel="stylesheet" type="text/css" href="/public/assets/styles.css" />
		</head>
	<body>
		<form action="/estudante/salvar" method="post">
			<div class="container jumbotron custom-jumbo">
				<h1 class="display-4">Cadastrar Estudante</h1>
				<hr class="my-4">

				<section>
					<% if(erros) { %>
					   <ul>
						   <%for(let i = 0; i < erros.length; i++){%>
							   <li>
								   <%= erros[i].msg %>
							   </li>
						   <% } %>
					   </ul>
					<% } %>
				</section>

				<div class="form-group">
					<label for="conteudo">Nome:</label>
					<input class="form-control" type="text" name="nome" placeholder="Digite o nome do estudante">
				</div>

				<div class="form-group">
					<label for="nota">Nota:</label>
					<input class="form-control" type="text" name="nota" placeholder="Digite a nota do estudante">
				</div>

				<div class="form-group">
					<label for="nota">Email:</label>
					<input class="form-control" type="email" name="email" placeholder="Digite o email do estudante">
				</div>

				<!-- <div class="form-group">
					<label for="cidad">Cidade:</label>
					<input class="form-control" type="text" name="cidade" placeholder="Digite a cidade do estudante">
				</div>

				<div class="form-group">
					<label for="data">Data Nasc.:</label>
					<input type="date" class="date-input" name="data" id="data">
				</div> -->
	
				<input type="submit" class="btn btn-primary btn-lg" value="Enviar">
			</div>
		</form>

	</body>
</html>