<!DOCTYPE html>
	<html lang="pt-br">
		<head>
			<meta charset="utf-8"/>
			<title>Formulário de Inclusão de Estudantes</title>
		</head>
	<body>
		<h1>Formulário para inclusão de estudantes</h1>
		<form action="estudante/salvar" method="post">
			<input type="text" name="nome" placeholder="Digite o nome do estudante">
			<input type="text" name="nota" placeholder="Digite a nota">
			<input type="submit" value="enviar">
		</form>

	</body>
</html>