<!DOCTYPE html>
	<html lang="pt-br">
		<head>
			<meta charset="utf-8"/>
			<title>Portal da Disciplina DSW</title>
		</head>
	<body>

		<h1>Bem vindo a página inicial da disciplina DSW - Desenvolvimento de Sistemas Web</h1>

	</body>
</html>