<!DOCTYPE html>
	<html lang="pt-br">
		<head>
			<meta charset="utf-8"/>
			<title>Portal da Disciplina DSW</title>
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
			<link rel="stylesheet" type="text/css" href="/public/assets/styles.css" />
		</head>
	<body>

		<div class="jumbotron custom-jumbo">
			<h1 class="display-4">Bem vindo!</h1>
			<p class="lead">Página inicial da disciplina DSW - Desenvolvimento de Sistemas Web</p>
			<hr class="my-4">
			<p>Escolha uma opção</p>

			<div class="row">
				<div class="col-xs-1 ml-2">
					<form action="insere_estudante" method="GET">
						<input type="submit" class="btn btn-primary btn-lg" value="Cadastrar Estudante">
					</form>
				</div>
				<div class="col-xs-1 ml-2">
					<form action="conteudoProgramatico" method="GET">
						<input type="submit" class="btn btn-primary btn-lg" value="Cadastrar Conteúdo Programático">
					</form>
				</div>
				<div class="col-xs-1 ml-2">
					<form action="/notas" method="GET">
						<input type="submit" class="btn btn-primary btn-lg" value="Listar Notas">
					</form>
				</div>
				<div class="col-xs-1 ml-2">
					<form action="/professores" method="GET">
						<input type="submit" class="btn btn-primary btn-lg" value="Listar Professores">
					</form>
				</div>
				<div class="col-xs-1 ml-2">
					<form action="/estudantes" method="GET">
						<input type="submit" class="btn btn-primary btn-lg" value="Listar Estudantes">
					</form>
				</div>
			</div>
		  </div>

	</body>
</html>